@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky__header {
    position: fixed; /* Make sure it's fixed */
    top: 0;          /* Stick to the top */
    left: 0;
    width: 100%;     /* Full width */
    z-index: 1000;   /* Ensure it's above other content */
    transition: all 0.3s ease; /* Smooth transition (optional) */
  }
  